body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #33ff0049;
    line-height: 2cap;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #b92929;
}

#output {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}



#maxDistance, #minDistance {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

#maxDistance:focus, #minDistance:focus {
  outline-offset: 5px;
  background-color: #fff
}
